<div>
  <p><strong>Comment by <%= comment.author_name %></strong></p>
  <p class='comment'><%= comment.body %></p>
  <p style= "font-size: 12px"> Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</p>
</div>